<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Articulo de Ejemplo</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-slides pager>
        <ion-slide *ngFor="let articulo of articulosdif">
            <h2>{{ articulo.titulo | titlecase }}</h2>
            <p text-center>{{ articulo.contenido}}</p>
            <div text-right>
                <small *ngFor="let categoria of articulo.categorias">{{ categoria | titlecase }} <br></small>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>