.Amarilla {
    background-color: rgb(255, 207, 86);
}

.Roja {
    background-color: rgb(255, 86, 94);
}

.Verde {
    background-color: rgb(86, 255, 94);
}

ion-card-header {
    font-weight: bold;
}

ion-content {
    padding-bottom: 100px;
}

ion-card {
    margin-bottom: 20px;
}