<ion-header>
    <ion-navbar color="primary" padding>
        <button ion-button menuToggle icon-start>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Inicio</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2 text-center>{{ nombre_dependiente }}</h2>
    <ion-card>
       <ion-card-header>
           Eventos
       </ion-card-header>
       <ion-list>
           <ion-item *ngFor="let evento of eventos"> {{ evento.titulo }} </ion-item>
       </ion-list>
    </ion-card>
    <div text-center><button ion-button color="secondary" (click)="abrirEventos()">Ver Eventos</button></div>
    <ion-card>
        <ion-card-header>
            Medicamentos
        </ion-card-header>
        <ion-list>
            <ion-item *ngFor="let medicina of medicinas"> {{ medicina.nombre }} </ion-item>
        </ion-list>
    </ion-card>
    <div text-center><button ion-button color="secondary" (click)="abrirRemedios()">Ver Medicamentos</button></div>
</ion-content>

<ion-footer>
    <my-footer></my-footer>
</ion-footer>