<ion-header>
    <ion-navbar color="primary" padding>
        <button ion-button menuToggle icon-start icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Accesos Rápidos</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h3 text-center>Contactos</h3>
    <ion-card *ngFor="let contacto of contactos" class="tarjeta">
        <ion-card-header text-center> {{contacto.nombre}} </ion-card-header>
        <p *ngIf="contacto.telefono" icon-start text-center><ion-icon name="call"></ion-icon> {{contacto.telefono}} </p>
        <p *ngIf="contacto.direccion" icon-start text-center><ion-icon name="md-home"></ion-icon> {{contacto.direccion}} </p>
    </ion-card>
    <h3 text-center>Lugares de interés</h3>
    <ion-card *ngFor="let lugar of lugares" class="tarjeta">
        <ion-card-header text-center> {{lugar.nombre}} </ion-card-header>
        <p *ngIf="lugar.telefono" icon-start text-center><ion-icon name="call"></ion-icon> {{lugar.telefono}} </p>
        <p *ngIf="lugar.direccion" icon-start text-center><ion-icon name="md-home"></ion-icon> {{lugar.direccion}} </p>
    </ion-card>
</ion-content>